*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.html {
    font-size: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 1em;
}

.scoreGroup {
    display: flex;
    flex-direction: column;
}

.emojiContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    padding: 1em;
    border: solid 2px black;
    place-items: center;
}

img {
    height: 200px;
    width: 200px;
}