*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    border: solid 1px gray;
}

.html {
    font-size: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 1em;
}

.scoreGroup {
    display: flex;
    flex-direction: column;
}

.emojiContainer {
    border: red 2px solid;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
}

.item {
    border: solid 2px black;
}