*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.html {
    font-size: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 1em;
}

.scoreGroup {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.emojiContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    padding: 1em;
    place-items: center;
}

video {
    height: 250px;
    width: 250px;
}

img:hover {
    cursor: pointer;
}

@media (max-width: 600px) {
    .emojiContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    video {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 900px) {
    .emojiContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    video {
        height: 200px;
        width: 200px;
    }
}